@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-chetwode-blue: #756ab6;
  --color-east-side: #ac87c5;
  --color-french-lilac: #e0aed0;
  --color-misty-rose: #ffe5e5;
  --color-white-smoke: #f5f5f5;
  --color-nero: #1b1b1b;
  --color-gainsboro: #e6e6e6;
  --color-night-rider: #232323;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
